<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

	{{ghost_head}}
</head>

<body class="{{body_class}}">
	
	{{navigation}}
	
	<section id="wrapper">
		<a class="hidden-close"></a>
		{{{body}}}
		<div id="body-class" style="display: none;" class="{{body_class}}"></div>
	
		<footer id="footer">
			<div class="inner">
				<section class="credits">
					<span class="credits-theme">Theme <a href="https://github.com/zutrinken/attila">Attila</a> by <a href="http://zutrinken.com" rel="nofollow">zutrinken</a></span>
					<span class="credits-software">Published with <a href="http://ghost.org">Ghost</a></span>
				</section>
			</div>
		</footer>
	</section>

	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>

	{{ghost_foot}}
    
    
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '6771214';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/6771214.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
<!-- end Drip -->
</body>
</html>